p {
    color: violet;
    background-color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    border-radius: 8px;
}

button {
    background: gray;
    border-radius: 8px;
    text-align: center;
    float: center;
    width: 80px;
    padding: 10px 40px;
}

div {
    background-color: brown;
}