
body{
    background-color: #f1f1ff;
}

#schSubject{
    /* background-image: url("../images/lupa.png"); */
    color: blueviolet;
    background-position: 10px 2px;
    background-repeat: no-repeat;
    padding: 10px;
}
body > header {
    height: 70px;
    top: 0px;
    width: 100%;
    /* position: fixed; */
}
#navegacao{ 
    padding: 1.5vw;
    background-color: rgba(184, 128, 128);
    border-bottom: 2px solid black;
}


#titulo {
    font-size: 24px;
    color: white;
}

#titulo > span {
    color: black;
    font-size: 16px;
}