/** 
    author: Hércules Rodrigues - 117210908 - hercules.anselmo@ccc.ufcg.edu.br
*/

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: FFF5EE;
}

body {
    margin: 20px;
    background: rgba(ec, ec, ec, 10);
    padding: 20px;
}

ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}


/*                                            HEADER                                                       */


/* titulo da página */

header>a {
    /*font-family: 'Times New Roman', Times, sans-serif;*/
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: bold;
    font-size: 30px;
}


/* controlando a margem do cabeçalho */

body>header {
    margin-left: -40px;
    margin-right: -40px;
    margin-top: -40px;
    position: relative;
}

input[type="checkbox"] {
    display: none;
}


/* Login e cadastro */

a,
.checkBox {
    text-decoration: none;
    color: white;
}


/* Menu com login e cadastro */

.checkBox:hover {
    color: black;
    cursor: pointer;
}

input[type="checkbox"]:checked~.login,
input[type="checkbox"]:checked~.cadastro {
    visibility: visible;
}


/* Itens do menu ao passar do mouse */

.menu>li:hover {
    border-radius: 100px;
    background-color: #94C9FF;
    cursor: pointer;
    font-weight: bolder;
    box-shadow: 1px 1px #000000, 1px 1px #000000, 2px 2px #000000;
}


/* Subtela de login/cadastro */

.login,
.cadastro {
    position: absolute;
    visibility: hidden;
    top: 90px;
    background-color: #94C9FF;
    border: 2px solid;
    border-radius: 10px 10px 10px 10px;
    padding: 25px;
    padding-bottom: 5px;
    right: 80px;
}

.menu li ul li input {
    float: left;
    margin-left: -20px;
    margin-top: 10px;
    padding: 10px;
}


/* navbar */

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    background-color: #4CA7FF;
    border-bottom: 2px solid black;
}

.menu {
    display: flex;
}

.menu li {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
    color: white;
}

.menu li a,
.checkBox {
    display: block;
    padding: 10px;
}


/*                  MAIN                         */

main {
    display: grid;
    grid-template-areas: "h2  h2 h2 h2 h2 h2" "div result result result result oter" "div coment coment coment coment oter";
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px 274px 100px 100px;
    grid-gap: 20px;
}

main h2 {
    grid-area: h2;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    padding: 20px;
}

.procurar {
    grid-area: div;
    border: 3px solid black;
    border-radius: 10px 10px 10px 10px;
    background-color: #4CA7FF;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    max-height: 274px;
    max-width: 274px;
    width: 300px;
}

#schSubject,
#schSubjectById,
.procurar p {
    padding: 1vh;
    width: 20vh;
    /* margin: 0 auto; */
    border-radius: 8px;
    border: 2px solid black;
}

.procurar ::placeholder {
    text-align: center;
}

#resultSearch {
    grid-area: result;
}


/*elemento span deslikes*/

.rank :nth-child(7) {
    margin-right: 27px;
}

.procurar p {
    background-color: white;
    font-size: 16px;
    width: 180px;
}


/* Estilizando os botões */


/* botão padrão */

.btn {
    font-family: arial;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    /*negrito*/
    border: none;
    padding: 5px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.btn-formulario {
    margin: 10px;
    border-radius: 10px;
    float: right;
    background: #4CA7FF;
    color: black;
    box-shadow: 0 2px 0 rgb(33, 36, 33);
}

.btn-formulario:hover {
    background: rgb(129, 190, 248);
    color: white;
    box-shadow: 0 3px 0 rgb(2, 19, 0);
}


/* impressão de pressionar botão */

.btn-formulario:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}


/*      comentarios     */

#resultComentario {
    grid-area: coment;
}

.comentarioPai,
.comentarioFilho {
    display: grid;
    grid-template-areas: "msg msg" "autor hora";
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 50px
}

.msg {
    margin-top: 30px;
    padding: 20px;
    text-align: left;
    border: 2px solid black;
    border-right: 0px;
    border-radius: 20px;
    width: 80%;
    grid-area: msg;
    overflow-y: scroll;
}

.hora {
    grid-area: hora;
    padding: 20px;
    text-align: right;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-bottom-right-radius: 20px;
}

#nome-usuario,
.user-nome {
    border-bottom: 2px solid black;
    border-bottom-left-radius: 20px;
    border-left: 2px solid black;
    text-align: left;
    padding: 20px;
    grid-area: autor;
}

.btn-apagar {
    border: 2px solid black;
    grid-area: msg;
    grid-column: 2;
    cursor: pointer;
    width: 40px;
    height: 40px;
    z-index: 1;
    margin-left: 86%;
    margin-top: 10%;
}

.btn-responder {
    border: 2px solid black;
    grid-area: msg;
    grid-column: 2;
    cursor: pointer;
    width: 80px;
    height: 40px;
    text-align: justify;
    z-index: 1;
    margin-left: 65%;
    margin-top: 10%;
}