.comentario {
    padding: 10px;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: 1em sans-serif;
    height: 5em;
    resize: vertical;
}

.comentario-filho{
    padding: 10px;
    width: 250px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: 1em sans-serif;
    height: 3em;
    resize: vertical;
}

.comentario:focus{
    border: 1px solid black;
}

#comentarioPai{
    margin: 0 auto;
    width: 400px;
    /* Para ver as bordas da div */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

#comentarioFilho{
    margin: 0 auto;
    width: 400px;
    /* Para ver as bordas da div */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}