* {
    box-sizing: border-box;
}

body, ul, li , p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;

}

input[type="checkbox"]{
    display: none;
}

a, .checkBox {
    text-decoration: none;
    color: white;
}

input[type="checkbox"]:checked ~ .login , input[type="checkbox"]:checked ~ .cadastro{
    visibility: visible;
}

.menu>li:hover{
    background: rgb(83, 34, 34);
    border-radius: 100px;
}



.login , .cadastro{
    position: absolute;
    visibility: hidden;
    top: 90px;
    background-color: rgb(184,128,128);
    border: 2px solid;
    padding: 25px;
    padding-bottom: 5px;
    right: 80px;  
}

.menu li ul li input{
    float: left;
    margin-left: -20px;
    margin-top: 10px;
    padding: 10px;
}

.menu li ul li button{
    background-color: black;
    padding: 5px;
    margin-top: 10px;
    border-radius:10px;
    border-color: black;  
    float: right;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(184, 128, 128);
    border-bottom: 2px solid black;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a, .checkBox {
    display: block;
    padding: 10px;
}


#schSubject{
    /* background-image: url("../images/lupa.png"); */
    color: blueviolet;
    background-position: 10px 2px;
    background-repeat: no-repeat;
    padding: 10px;
}

/* body > header {
    height: 70px;
    top: 0px;
    width: 100%;
    position: fixed;
} */
